# //localhost:4873/:_authToken=ZmQ3YjVlNTRlNzYzMDRlMTk5YTBiOGRlNzQ2OGQ4OWY6YjI2N2Q3NzU5NWViZjQwNGZiMzZhNDZjYjRkY2EyOGUxOQ==
//localhost:4873/:_authToken=OGE4YzE1Mzg3ZGQ4MmEwNDJkMzA1ZmQ2ZjY0NGJiNjY6NmY2ZDI2ODg0YzBiNjYwMTNkYjI3YjRjZWM4NA==
registry=http://localhost:4873